<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/addblog.js"></script>
</head>
<body>
	<h1>ADDblog</h1>

	<div id="content">
		<div class="blog">
			<label for="site">Sitio web</label>
				<input type="text" name="site" id="site">
			<label for="tag-title">Etiqueta titulo</label>
				<input type="text" name="tag-title" id="tag-title">			
			<label for="tag-link">Etiqueta link</label>
				<input type="text" name="tag-link" id="tag-link">			
			<label for="tag-date">Etiqueta date</label>
				<input type="text" name="tag-date" id="tag-date">
			<label for="preview_blog">preview blog</label>
				<input type="submit" name="preview_blog" id="preview_blog">
		</div>

		<div id="blog_preview">
			<div id="blog_preview__site">
				<p class="content"></p>
			</div>
			<div id="blog_preview__title">
				<p class="content"></p>
			</div>
			<div id="blog_preview__link">
				<p class="content"></p>
			</div>
			<div id="blog_preview__date">
				<p class="content"></p>
			</div>
		</div>
		<label for="addblog">Añdir blog</label>
			<input type="submit" name="addblog" id="addblog">
		<div id="respuesta_servidor">
		</div>
	</div>

</body>
</html>