<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/jquery"></script>

	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/blogs.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/blogs.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body>
	<div class="container">

		<div class="page-header">

			<div class="btn-group btn-group-justified" role="group" aria-label="...">

			  <div class="btn-group" role="group">
			    <button type="button" class="btn btn-primary" id="actualiza" >Actualiza</button>
			  </div>

			  <div class="btn-group" role="group">
			    <button type="button" class="btn btn-default">Cantidad de blogs: <%= html.length %></button>
			  </div>

			  <div class="btn-group" role="group">
			    <a href="/addblog">
				    <button type="button" class="btn btn-primary">
				    	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				    </button>
			    </a>
			  </div>
			  
			</div>

		</div>	
		<div class="container">
			<div class="row">
				<%	for(i = 0; i< html.length; i++){%>

					<div class="col-md-3 well">
						<p class="lead text-center">
							<a href="<%= html[i].link %>">
							<%= html[i].title %>				
							</a>
	
						</p>				

						<a href="/search/<%= html[i].id_site%>">
							<button class="btn-group btn-group-lg">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</a> 
					</div>
				<% if(i  % 4 == 0){%>
					</div>
					<div class="row">
				<% }%>

				<% } %>
		</div>

	</div>


</body>
</html>